<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formula 1 - @ViewData["Title"]@(ViewData["SubTitle"] != null ? " - " + ViewData["SubTitle"] : string.Empty)</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/img/line-chart-icon.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Formula 1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PilotosPosicoes">Pilotos por posições</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PilotosPontos">Pilotos por pontos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="EquipesPontos">Equipes por pontos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GraficoPilotosPontos">Gráfico pilotos por pontos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GraficoEquipesPontos">Gráfico equipes por pontos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle ml-md-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @(User.Identity.IsAuthenticated ? "Admin" : "Login")
                            </a>
                            <div class="dropdown-menu ml-md-4" aria-labelledby="navbarDropdown">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Piloto" asp-action="Index">Pilotos</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Equipe" asp-action="Index">Equipes</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Contrato" asp-action="Index">Contratos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Corrida" asp-action="Index">Corridas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                                }
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle ml-md-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Temporada
                            </a>
                            <div class="dropdown-menu ml-md-4" aria-labelledby="navbarDropdown">
                                @for (int temporada = 2022; temporada >= 2019; temporada--)
                                {
                                    <a class="dropdown-item" asp-route-temporada="@temporada">@temporada</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/bootstrap-datetime-picker/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/jquery-mask/jquery.mask.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        setaCamposMascaras();
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
