@model Formula1.Data.Models.TabelaCampeonatoEquipes

@{
    ViewData["Title"] = "Temporada " + ViewData["Temporada"];
    ViewData["SubTitle"] = "Pontos por equipe";
}

<div class="text-center">
    <h1 class="display-4">Formula 1</h1>
    <h3 class="display-6">@ViewData["Title"]</h3>
    <p>@ViewData["SubTitle"]</p>
</div>

<table class="table table-striped table-classificacao">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>

            @foreach (var corrida in Model.Corridas)
            {
                <th scope="col" class="text-center align-middle th-titulo-corrida">
                    <small class="titulo-corrida">

                        @if (corrida.TemResultadosDeCorrida)
                        {
                            <a asp-area="" asp-controller="Home" asp-action="EquipesPontos" asp-route-o="@(corrida.Id.ToString())">
                                @corrida.NomeGrandePremio<br />@corrida.DataHoraBrasil.ToString("dd/MMM/yyyy HH:mm")
                            </a>
                        }
                        else
                        {
                            @corrida.NomeGrandePremio<br />@corrida.DataHoraBrasil.ToString("dd/MMM/yyyy HH:mm")
                        }

                    </small>
                </th>
            }

            <th scope="col" class="text-center align-middle th-titulo-corrida">
                <small class="titulo-corrida">
                    <a asp-area="" asp-controller="Home" asp-action="EquipesPontos">Pontos</a>
                </small>
            </th>

            <th scope="col" class="text-center align-middle th-titulo-corrida"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var equipe in Model.Equipes)
        {
            <tr>
                <td>
                    <small>@equipe.Posicao</small>
                </td>

                <td>
                    <small>@equipe.Nome</small>
                </td>

                @foreach (var corrida in Model.Corridas)
                {
                    <td class="text-center">
                        @{
                            var resultado = equipe.Resultados.Where(o => o.CorridaId == corrida.Id).FirstOrDefault();

                            if (resultado != null)
                            {
                                <small style="font-weight: @(resultado.VoltaMaisRapida ? "bold" : "normal")">@resultado.PontosTotais.ToString()</small>
                            }
                        }
                    </td>
                }

                <td class="text-center">
                    <small>@equipe.Pontos.ToString()</small>
                </td>
                <td class="text-center max-pontos">
                    <small>@equipe.PosicaoMaxima.ToString()</small>
                </td>
            </tr>
        }
    </tbody>
</table>