@model Formula1.Data.Models.GraficoCampeonatoEquipes

@{
    ViewData["Title"] = "Temporada " + ViewData["Temporada"];
    ViewData["SubTitle"] = "Gráfico de pontos por equipe";
}

<div class="text-center">
    <h1 class="display-4">Formula 1</h1>
    <h3 class="display-6">@ViewData["Title"]</h3>
    <p>@ViewData["SubTitle"]</p>

    <canvas id="grafico"></canvas>
</div>

@section scripts {

    <script src="~/lib/chartjs/chart.min.js"></script>

    <script type="text/javascript">
        var ctx = document.getElementById('grafico').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: [@Html.Raw(string.Join(",", Model.Corridas.Select(o => $"'{o.NomeGrandePremio}'")))],
                datasets: [
                    @foreach(var equipe in Model.Equipes)
                    {
                        <text>
                        {
                            label: '@equipe.Equipe',
                            data: [@(string.Join(",", equipe.Pontos.Select(o => o != null ? o.ToString().Replace(',', '.') : "null")))],
                            borderColor: ['@equipe.CorRgb'],
                            fill: false,
                            borderWidth: 2
                        },
                        </text>
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                elements: {
                    line: {
                        tension: 0,
                    },
                    point: {
                        radius: 3
                    }
                },
                scales: {
                    y: {
                        ticks: {
                            max: @Model.MaxValue,
                            stepSize: @Model.Step,
                            beginAtZero: true
                        },
                        display: true,
						scaleLabel: {
							display: true,
							labelString: 'Pontos'
						}
                    }
                }
            }
        });
    </script>
}