@model Formula1.Data.Models.TabelaCampeonatoPilotos

@{
    ViewData["Title"] = "Temporada " + ViewData["Temporada"];
    ViewData["SubTitle"] = "Pontos por piloto";
}

<div class="text-center">
    <h1 class="display-4">Formula 1</h1>
    <h3 class="display-6">@ViewData["Title"]</h3>
    <p>@ViewData["SubTitle"]</p>
</div>

<table class="table table-striped table-classificacao">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>

            @foreach (var corrida in Model.Corridas)
            {
                <th scope="col" class="text-center align-middle th-titulo-corrida">
                    <small class="titulo-corrida">

                        @if (corrida.TemResultados)
                        {
                            <a href="@Url.Content("~/Home/PilotosPontos?o=" + corrida.Id)">
                                @corrida.NomeGrandePremio<br />@corrida.DataHoraBrasil.ToString("dd/MMM/yyyy HH:mm")
                            </a>
                        }
                        else
                        {
                            @corrida.NomeGrandePremio<br />@corrida.DataHoraBrasil.ToString("dd/MMM/yyyy HH:mm")
                        }

                    </small>
                </th>
            }

            <th scope="col" class="text-center align-middle th-titulo-corrida">
                <small class="titulo-corrida">
                    <a href="@Url.Content("~/Home/PilotosPontos")">Pontos</a>
                </small>
            </th>

            <th scope="col" class="text-center align-middle th-titulo-corrida"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var piloto in Model.Pilotos)
        {
            <tr>
                <td>
                    <small>@((Model.Pilotos.IndexOf(piloto) + 1).ToString())</small>
                </td>

                <td>
                    <small>@piloto.NomeGuerra</small>
                </td>

                @foreach (var corrida in Model.Corridas)
                {
                    <td class="text-center">
                        @{
                            var resultado = piloto.Resultados.Where(o => o.CorridaId == corrida.Id).FirstOrDefault();

                            if (resultado != null)
                            {
                                <small class="@(resultado.DNF ? "result-dnf" : "") @(resultado.PontoExtra ? "result-ponto-extra" : "")">@resultado.Pontos.ToString()</small>
                            }
                        }
                    </td>
                }

                <td class="text-center">
                    <small>@piloto.Pontos.ToString()</small>
                </td>
                <td class="text-center max-pontos">
                    <small>@piloto.PosicaoMaxima.ToString()</small>
                </td>
            </tr>
        }

    </tbody>
</table>