@model Formula1.Data.Models.TabelaCampeonatoPilotosModel

@{
    ViewData["Title"] = "Temporada 2019 - Posições por piloto";
}

<div class="text-center">
    <h1 class="display-4">Formula 1</h1>
    <h3 class="display-6">Temporada 2019</h3>
    <p>Posições por piloto</p>
</div>

<table class="table table-striped table-classificacao">
    <thead>
        <tr>
            <th scope="col"></th>

            @foreach (var corrida in Model.Corridas)
            {
                <th scope="col" class="text-center align-middle th-titulo-corrida">
                    <small class="titulo-corrida">
                        @corrida.NomeGrandePremio<br />@corrida.DataHoraBrasil.ToString("dd/MMM/yyyy HH:mm")
                    </small>
                </th>
            }

            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var piloto in Model.Pilotos)
        {
            <tr>
                <td>
                    <small>@piloto.NomeGuerra</small>
                </td>

                @foreach (var corrida in Model.Corridas)
                {
                    <td class="text-center">

                        @{
                            var resultado = piloto.Resultados.Where(o => o.CorridaId == corrida.Id).FirstOrDefault();

                            if (resultado != null)
                            {
                                <small>@resultado.PosicaoChegada.ToString() @(resultado.PontoExtra ? "*" : "") @(resultado.DNF ? "_" : "")</small>
                            }
                        }

                    </td>
                }

                <td class="text-center">
                    <small>@piloto.PontosTemporada.ToString()</small>
                </td>
            </tr>
        }

    </tbody>
</table>
