@model Formula1.Data.Models.Admin.Corridas.CorridaListaDados

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Corridas";
    ViewData["SubTitle"] = "Temporada " + ViewData["Temporada"];
}

<h3>@ViewData["Title"]</h3>
<h5>@ViewData["SubTitle"]</h5>
<hr />

@await Html.PartialAsync("Add", Model.Dados)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Corridas[0].NumeroCorrida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corridas[0].DataHoraBrasil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corridas[0].NomeGrandePremio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corridas[0].Circuito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Corridas)
        {
        <tr class="@(Model.Dados?.Id == item.Id ? "table-info" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCorrida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraBrasil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeGrandePremio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Circuito)
            </td>
            <td class="text-right">
                <a asp-area="Admin" asp-controller="Resultado" asp-action="Index" asp-route-corridaId="@item.Id">Resultados</a> |
                <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.Id" onclick="if (!confirm('Confirma a exclusão do registro?')) return false;">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
