@model Formula1.Data.Models.Admin.Resultados.ResultadoDados

<div class="row">
    <div class="col-md-6">
        <form asp-action="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CorridaId" />

            <div class="form-group row">
                <label asp-for="PilotoId" class="col-md-3 text-md-right control-label"></label>
                <div class="col-md-9">
                    <select asp-for="PilotoId" class="form-control" asp-items="@(new SelectList(Model.PilotosLista, "Id", "NomeGuerra"))">
                        <option value="">Selecione</option>
                    </select>

                    <span asp-validation-for="PilotoId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="EquipeId" class="col-md-3 text-md-right control-label"></label>
                <div class="col-md-9">
                    <select asp-for="EquipeId" class="form-control" asp-items="@(new SelectList(Model.EquipesLista, "Id", "Nome"))">
                        <option value="">Selecione</option>
                    </select>

                    <span asp-validation-for="EquipeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="PosicaoLargada" class="col-md-3 text-md-right control-label"></label>
                <div class="col-md-9">
                    <input asp-for="PosicaoLargada" class="form-control" />
                    <span asp-validation-for="PosicaoLargada" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="PosicaoChegada" class="col-md-3 text-md-right control-label"></label>
                <div class="col-md-9">
                    <input asp-for="PosicaoChegada" class="form-control" />
                    <span asp-validation-for="PosicaoChegada" class="text-danger"></span>
                </div>
            </div>

            @if (Model.CorridaClassificacao)
            {
                <div class="form-group row">
                    <label asp-for="PontosClassificacao" class="col-md-3 text-md-right control-label"></label>
                    <div class="col-md-9">
                        <input asp-for="PontosClassificacao" class="form-control" />
                        <span asp-validation-for="PontosClassificacao" class="text-danger"></span>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="PontosClassificacao" value="0" />
            }

            <div class="form-group row">
                <label asp-for="PontosCorrida" class="col-md-3 text-md-right control-label"></label>
                <div class="col-md-9">
                    <input asp-for="PontosCorrida" class="form-control" />
                    <span asp-validation-for="PontosCorrida" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row form-check">
                <div class="col-md-6 offset-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="VoltaMaisRapida" /> @Html.DisplayNameFor(model => model.VoltaMaisRapida)
                    </label>
                </div>
            </div>

            <div class="form-group row form-check">
                <div class="col-md-6 offset-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="DNF" /> @Html.DisplayNameFor(model => model.DNF)
                    </label>
                </div>
            </div>

            <div class="form-group row form-check">
                <div class="col-md-6 offset-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="DSQ" /> @Html.DisplayNameFor(model => model.DSQ)
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="@(Model.Id == 0 ? "Incluir" : "Editar")" class="btn btn-primary" /> ou <a asp-action="Index" asp-route-corridaId="@Model.CorridaId">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
