@model Formula1.Data.Models.ResultadoCorridaEdicao

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Resultados";
    ViewData["SubTitle"] = ViewData["NomeGP"];
}

<h3>@ViewData["Title"]</h3>
<h4>@ViewData["SubTitle"]</h4>
<hr />

@await Html.PartialAsync("Add", Model.Dados)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resultados[0].Piloto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultados[0].Equipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultados[0].PosicaoLargada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultados[0].PosicaoChegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultados[0].Pontos)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Resultados[0].PontoExtra)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Resultados[0].DNF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resultados)
        {
            <tr style="@(item.Grifar ? "color: red;" : string.Empty)">
                <td>
                    @Html.DisplayFor(modelItem => item.Piloto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PosicaoLargada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PosicaoChegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PontoExtra)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DNF)
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-corridaId="@Model.Dados.CorridaId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
