@model Formula1.Data.Models.Admin.Resultados.ResultadoListaDados

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Resultados";
    ViewData["SubTitle"] = Model.NomeGP;
}

<h3>@ViewData["Title"]</h3>
<h4>@ViewData["SubTitle"]</h4>
<hr />

<form asp-action="Save">

    <input type="hidden" asp-for="@Model.CorridaId" />
    <input type="hidden" asp-for="@Model.Temporada" />
    <input type="hidden" asp-for="@Model.CorridaSprint" />

    <div class="form-group row">
        <div class="col-md-6">
            <input type="submit" value="Salvar" class="btn btn-primary" /> ou <a asp-controller="Corrida" asp-action="Index">Voltar</a>
        </div>
    </div>

    <table class="table tableFixHead">
        <thead>
            <tr>
                <th class="td-10">
                    @Html.DisplayNameFor(model => model.Resultados[0].PosicaoChegada)
                </th>
                <th class="td-10">
                    @Html.DisplayNameFor(model => model.Resultados[0].PontosCorrida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resultados[0].PilotoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resultados[0].EquipeId)
                </th>
                <th class="td-10 text-center">
                    @Html.DisplayNameFor(model => model.Resultados[0].VoltaMaisRapida)
                </th>
                <th class="td-10 text-center">
                    @Html.DisplayNameFor(model => model.Resultados[0].DNF)
                </th>
                <th class="td-10 text-center">
                    @Html.DisplayNameFor(model => model.Resultados[0].DSQ)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Resultados.Count; i++)
            {
                var item = Model.Resultados[i];

                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model.Resultados[i].IdAtual" />
                        <input asp-for="@Model.Resultados[i].PosicaoChegada" class="form-control @(item.GrifarChegada ? "input-validation-error" : string.Empty)" readonly />
                        <span asp-validation-for="@Model.Resultados[i].PosicaoChegada" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Resultados[i].PontosCorrida" class="form-control @(item.GrifarPontosCorrida ? "input-validation-error" : string.Empty)" />
                        <span asp-validation-for="@Model.Resultados[i].PontosCorrida" class="text-danger"></span>
                    </td>
                    <td>
                        <select asp-for="@Model.Resultados[i].PilotoId" asp-items="@(new SelectList(Model.Pilotos, "Id", "NomeGuerra"))" class="form-control pilotoSelect @(item.GrifarPiloto ? "input-validation-error" : string.Empty)">
                            <option value="">Selecione</option>
                        </select>
                        <span asp-validation-for="@Model.Resultados[i].PilotoId" class="text-danger"></span>
                    </td>
                    <td>
                        <select asp-for="@Model.Resultados[i].EquipeId" asp-items="@(new SelectList(Model.Equipes, "Id", "Nome"))" class="form-control equipeSelect @(item.GrifarEquipe ? "input-validation-error" : string.Empty)">
                            <option value="">Selecione</option>
                        </select>
                        <span asp-validation-for="@Model.Resultados[i].EquipeId" class="text-danger"></span>
                    </td>
                    <td class="text-center">
                        <input class="check-box" asp-for="@Model.Resultados[i].VoltaMaisRapida" />
                    </td>
                    <td class="text-center">
                        <input class="check-box" asp-for="@Model.Resultados[i].DNF" />
                    </td>
                    <td class="text-center">
                        <input class="check-box" asp-for="@Model.Resultados[i].DSQ" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>

@section Scripts {
    <script type="text/javascript">
        var equipesPilotos = [
        @foreach (var equipePilotos in Model.EquipesPilotos)
        {
            <text>
            {
                'equipe':'@equipePilotos.EquipeId',
                'pilotos': [@string.Join(',', equipePilotos.PilotosId)]
            },
            </text>
        }];

        function selecionaEquipePeloPiloto(t, pilotoId) {
            equipesPilotos.forEach((v) => {
                if (v.pilotos.includes(pilotoId)) {
                    var equipeSel = $(t).first().parent().parent().find('.equipeSelect');
                    equipeSel.val(v.equipe);
                    return;
                }
            });
        }

        $(document).ready(function () {
            $(".pilotoSelect").on("change", function () {
                var pilotoId = parseInt($(this).val());
                selecionaEquipePeloPiloto(this, pilotoId);
            });
        });
    </script>
}
